.header {
  font-weight: 800;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  img {
    padding-left: 8px;
    padding-bottom: 3px;
  }
}
.navbar-item {
  padding-left: 30px;
  font-style: 18px;
  color: var(--primary-color);

  &:hover {
    opacity: 0.8;
  }
}
.dropdown::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.icon {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 32px;

  * {
    margin: 10px 0;
  }
}
