@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Quicksand:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-color: #03A9F4;

}

body {
  font-family: "Inter", sans-serif;
}
:root {
}
a[href] {
  color: white;
  text-decoration: none;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
  font-weight:none;
}

.heading-text {
  font-size: 32px;
  line-height: 39px;
}

.sub-text {
  font-size: 22px;
  line-height: 27px;
}
